<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="Web site created using create-react-app"
        />
        <link rel="stylesheet" href="./EditProfile.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="logo">Realworld Blog</div>
                <div class="options">
                    <a href="#" class="create-article_btn">
                        Create article
                    </a>
                    <span class="name">John Doe</span>
                    <div class="photo">
                        <img src="./photo.png">
                    </div>
                    <a href="#" class="logout_btn">
                        Log Out
                    </a>
                </div>
            </header>            
            <form class = "editProfile_form" action = "url" method = "post">
                <div class="form-title">
                    <h3>Edit profile</h3>
                </div>
                <div class="input-title">
                    Username 
                </div>
                <input  type = "text" placeholder="Username">
                <div class="input-title">
                    Email address
                </div>
                <input type = "email" placeholder="Email address">
                <div class="input-title">
                    New password 
                </div>
                <input type = "password" placeholder="Password">
                <div class="input-title">
                    Avatar image(url)
                </div>
                <input type = "password" placeholder="Avatar image">
                <a href="#" class="create_btn">
                    Save
                </a>
            </form>
        </div>
    </body>
</html>    