.header {
    background: #FFFFFF;
    height: 80px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.logo {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.authentication {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup_btn {
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: -2px 0 0 19px;
    border: solid 1px #52C41A;
    border-radius: 4px;
    padding: 0.5em 1em;    
    color: #52C41A;
}

.signin_btn {
    color: rgba(0, 0, 0, 0.85);
    width: 84px;
    text-decoration: none;
}