<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta
            name="description"
            content="Web site created using create-react-app"
        />
        <link rel="stylesheet" href="./NewArticle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="app_title">Realworld Blog</div>
                <div class="sign_btns">
                    <a href="#" class="btn">
                        Sign In 
                    </a>
                    <a href="#" class="btn">
                        Sing Up
                    </a>
                </div>
            </header>
            <form class = "newArticle_form" action = "url" method = "post">
                <div class="form-title">
                    <h3>Create new article</h3>
                </div>
                <div class="input-title">
                    Title 
                </div>
                <input  type = "text" placeholder="Title">
                <div class="input-title">
                    Short description
                </div>
                <input  type = "text" placeholder="Title">
                <div class="input-title">
                    Text
                </div>
                <input  type = "text" placeholder="Text">
                <div class="newArticle_footer">
                    <div class="input-title">
                        Tags
                    </div>
                    <input  type = "text" placeholder="programming">
                    <input  type = "text" placeholder="Tag">
                    <a href="#" class="btn">
                        Delete
                    </a> 
                    <a href="#" class="btn">
                        Delete
                    </a> 
                    <a href="#" class="btn">
                        Add tag
                    </a>
                    <a href="#" class="create_btn">
                        Send
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>
                